# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.env
.env.* 
*.env
!.env.template

# Django
static/*
!static/videoflix_icon.png

media/
*.log

# HLS / Video Outputs (nicht im Repo versionieren!)
media/hls/
*.mp4
*.ts
*.m3u8

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
*.pid
docker-data/